



    <section class="position-relative vh-100 vw-100 overflow-hidden">
        <div class="d-flex h-100 w-100 align-items-center justify-content-center position-relative " style="z-index: 1000">

            <div class="glass-box d-flex flex-column align-items-center p-5 shadow-lg">
                <h2 class="text-center fw-bold text-white mb-5" style="font-size: 48px;">Login</h2>

                <div class="d-flex flex-column align-items-center w-100">
                    <input type="text" placeholder="Username" class=" custom-input mb-4 ps-3 text-dark"
                           style="margin-top: 50px;">
                    <input type="password" placeholder="Password" class=" custom-input mb-4 ps-3 text-dark">

                    <a href="#" class="text-white text-decoration-none mb-4">Forgot your password ? <span style="color: #E24D17;">  reset it</span></a>

                    <button class="btn custom-btn">Login</button>
                </div>
            </div>

        </div>

        <div class="bg-shape shape-solid z-1"></div>
        <div class="bg-shape shape-outline z-1"></div>
    </section>
 